@import "tailwindcss";
@config "../src/tailwind.config.js";

@source "../src/**/*.rs";
@source "../../frontend/src/**/*.rs";
@import "../../frontend/style/shared.css";

@property --progress {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}

@utility transition-circular-progress-bar {
  transition:
    opacity 0.5s linear,
    --progress 0.25s linear;
}

@utility fade-out-circular-progress-bar {
  animation: circular-progress-bar-fade-out 0.5s ease-out;
  animation-fill-mode: both;
}

@utility font-number {
  font-family: "SF Mono", "Consolas", "Liberation Mono", "Menlo", monospace;
  font-variant-numeric: tabular-nums;
}
